
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@Html.ActionLink("Magreb", "magreb", "Noticias")
@Html.ActionLink("Europa", "europa", "Noticias")
@Html.ActionLink("Opinion", "opinion", "Noticias")
@Html.ActionLink("Latinoamerica", "latinoamerica", "Noticias")
